---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Pill from "../components/Pill.astro";
import WorkCard from "../components/WorkCard.astro";
import Carousel from "../components/Carousel/Carousel";
import heroBannerImg from "../assets/hero_banner_image.webp";
import aboutImg from "../assets/about_fotos.webp";
import project1Img from "../assets/project1/project_1_banner.webp";
import project2Img from "../assets/project2/project_2_banner.webp";
import project3Img from "../assets/project3/project_3_banner.webp";
import project4Img from "../assets/project4/project_4_banner.webp";
import project5Img from "../assets/project5/project_5_banner.webp";
import project6Img from "../assets/project6/project_6_banner.webp";
import skillsImg from "../assets/skills_image.webp";
---

<Layout
  title="Valentina Martínez Muruaga, UX/UI Designer & Illustrator - Portafolio"
>
  <section class="banner">
    <h1 class="banner-title">
      &#9996; Hello, I'm Valentina - <span class="sub">UX/UI Designer</span>
    </h1>
    <Image
      loading="eager"
      class="banner-image"
      src={heroBannerImg}
      alt="Roles"
    />
  </section>
  <section id="about" class="about">
    <Image class="about-image" src={aboutImg} alt="About section" />
    <div class="about-description">
      <h2 class="title">A little about me</h2>
      <p class="description">
        I'm a UX/UI designer and illustrator with 4+ years of experience based
        in Bogotá, Colombia.
        <br />
        Designing, dancing, traveling, and being around my loved ones are my favorite
        things in the world.
        <br />
        Through my work I strive to create not only beautiful but functional designs
        that resonate with users.
        <br />
        Let's get to know each other!
        <br />
        E-mail me at <a href="mailto:valem.mu@gmail.com">valem.mu@gmail.com</a> or
        check my other links:
      </p>
      <div class="links">
        <Pill
          external
          link="https://drive.google.com/file/d/1LpOdZo2VCIjD4sWvIgJECOSc_No9VB3v/view"
          text="Resume"
        />
        <Pill
          external
          link="https://www.behance.net/valentimartine9"
          text="Behance"
        />
        <Pill
          external
          link="http://www.linkedin.com/in/valentina-martinez-muruaga"
          text="LinkedIn"
        />
      </div>
    </div>
  </section>
  <section id="work" class="work">
    <h2 class="work-title">Selected Works</h2>
    <div class="work-cards-container">
      <WorkCard
        wide
        name="SIGNAL platform"
        description="Information Security Platform that gives visibility to the compliance state of their users."
        tasks={[
          "UX/UI Design",
          "Design System management and Data Visualization",
        ]}
        image={project1Img.src}
        link="/work/project1"
      />
      <WorkCard
        name="MusterUp - UX Case Study"
        description="Create events and be in sync!"
        tasks={["UX/UI Design - Illustration."]}
        image={project2Img.src}
        link="/work/project2"
      />
      <WorkCard
        name="Valiant's Legacy - Gaming Platform UI"
        description="Gaming Platform UI."
        tasks={["UX/UI Design"]}
        image={project6Img.src}
        link="/work/project6"
      />
      <WorkCard
        wide
        name="InsightAI - AI powered E-Learning Platform"
        description="AI-powered learning platform."
        tasks={["UX/UI Design"]}
        image={project5Img.src}
        link="/work/project5"
      />
      <WorkCard
        wide
        name="Co-Star re-design - UI Case Study"
        description="A Digital horoscope but even more than that."
        tasks={["UX/UI Design - Illustration"]}
        image={project4Img.src}
        link="/work/project4"
      />
      <WorkCard
        name="Clauproraiz - Real State Website"
        description="Find your real state perfect match."
        tasks={["UX/UI Design"]}
        image={project3Img.src}
        link="/work/project3"
      />
    </div>
  </section>
  <section class="skills">
    <h2 class="skills-title">What I Do ✧</h2>
    <Image class="skills-image" src={skillsImg} alt="Skills" />
  </section>
  <section class="work-slider">
    <h2 class="work-slider-title">These are also my works!</h2>
    <p>
      Check the full projects <a
        href="https://www.behance.net/valentimartine9"
        target="_blank"
        rel="noopener noreferrer"><strong>here</strong></a
      >
    </p>
    <Carousel client:load />
  </section>
</Layout>

<style>
  section:nth-child(odd) {
    margin: 100px auto;
  }
  .banner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    max-width: 800px;
  }
  .banner .banner-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    line-height: 100px;
  }
  .banner .banner-title .sub {
    font-size: 100px;
  }
  .banner .banner-image {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    max-height: 254px;
    height: 100%;
  }
  .about {
    padding: 80px 28px;
    background-color: #ebe6da;
    border-radius: 16px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
    scroll-margin-top: 50px;
  }
  .about .about-image {
    object-fit: cover;
    height: 390px;
    width: 100%;
    max-width: 500px;
  }
  .about .about-description {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
  }
  .about .about-description .description {
    margin-bottom: 32px;
  }
  .about .about-description .description a {
    font-weight: bold;
  }
  .about .about-description .title {
    text-align: left;
    letter-spacing: -0.04em;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .about .about-description .links {
    display: flex;
    column-gap: 16px;
  }
  .work {
    scroll-margin-top: 50px;
  }
  .work .work-title {
    text-align: left;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    padding-left: 12px;
    margin-bottom: 64px;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
  }
  .work .work-cards-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 80px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
  }
  .skills {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }
  .skills .skills-title {
    text-align: center;
    font-weight: 600;
  }
  .skills .skills-image {
    height: auto;
    width: 100%;
    max-width: 1000px;
  }
  .work-slider {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }
  .work-slider .work-slider-title {
    font-weight: 600;
  }
  @media (max-width: 1023px) {
    .about {
      flex-direction: column;
    }
    .about .about-description .title {
      text-align: center;
    }
    .about .about-description .links {
      column-gap: 32px;
      justify-content: center;
    }
  }
  @media (max-width: 590px) {
    .banner .banner-title {
      font-size: 26px;
      line-height: 80px;
    }
    .banner .banner-title .sub {
      font-size: 68px;
    }
    .about .about-description {
      width: -webkit-fill-available;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: -0.02em;
    }
    .about .about-description .links {
      flex-direction: column;
      row-gap: 24px;
    }
    .work .work-cards-container {
      grid-template-columns: 1fr;
    }
  }
</style>
